.imageUploadForm {
    position: absolute;
    margin: 0;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(25, 25, 25, .97);
    z-index: 999;
    overflow: hidden;
}