.footer {
  display: none;
  margin: 0px;
  width: 100vw;
  padding-top: 0.7em;
  padding-bottom: 0.7em;
  background-color: #007cc7;
  height: auto;
}

@media (max-width: 767px) {
  .footer,
  .profileFooter,
  .logaphotoFooter,
  .albumsFooter {
    display: block;
  }
}
