.navbar {
  margin: 0px;
  width: 100vw;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #007cc7;
  color: white;
  height: auto;
}

.links {
    height: 100%;
}

.profile:hover, .logaphoto:hover, .albums:hover {
    cursor: pointer;
}