body {
  background-color: #203647;
  overflow-x: hidden;
}

html {
  gap: 0px;
  padding: 0;
  margin: 0;
}

ul, li {
  list-style: none;
  padding: 0;
  margin: 0;
}

.mainContainer {
  background-color: #12232e; 
  padding-bottom: 250px; 
}

.fontWhite {
  color:white;
}

.navbar,
.footer {
  background-color: #007cc7;
  color: white;
}
.navbar {
  display: block;
}
.nav-link:hover {
  cursor: pointer;
}
.locationsLoggedDropdownMenu {
background-color: #12232e;
color: white;
}
.main {
  background-color: #12232e;
  padding-bottom: 500px;
}

.profileIcon {
  font-size: 2.5rem;
}

/* .profilePicture {
  padding-top: 10%;
} */

.profilePicture:hover {
  cursor: pointer;
}

.newProfilePic {
  display: none;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.45);
  flex-direction: row;
  justify-content: center;
  top: 0px;
  left: 0px;
  padding-top: 20%;
  height: 100vh;
  width: 100vw;
  z-index: 1000;
}

.logNewPhotoForm {
  /* display: none; */
  position: fixed;
  background-color: rgba(0, 0, 0, 0.45);
  flex-direction: row;
  justify-content: center;
  top: 0px;
  left: 0px;
  padding-top: 20%;
  height: 100vh;
  width: 100vw;
  z-index: 1000;
}

.logNewPhotoFormDiv {
  background-color: white;
  margin-top: 100px;
  /* max-height: 500px; */
  overflow-y: auto;
}

input,
textarea {
  width: 100%;
  font-style: italic;
  border-radius: 15px;
  border-width: 1px;
  border-color: lightblue;
}

.log {
  text-align: right;
}

label,
button {
  font-weight: 600;
  margin-top: 10px;
  margin-bottom: 2.5px;
}

h1,
h3,
h4 {
  text-shadow: 1px 1px 2px #7c7c7c;
}

h1,
.timeline {
  color: white;
}

.cards {
  opacity: 0.9;
  color: black;
  border-width: 0;
  border-color: lightblue;
}

/* -------------- */
/* STATUS SECTION */
/* -------------- */

.status {
  display: none;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.2);
  flex-direction: row;
  justify-content: center;
  top: 0px;
  left: 0px;
  height: 100vh;
  width: 100vw;
  z-index: 1000;
}

.statusForm {
  padding-top: 175px;
  max-width: 750px;
}

.postStatusBtn {
  background-color: #007cc7;
  color: white;
  box-shadow: 0 0px 2px 0 rgba(255, 255, 255, 0.5);
  border: hidden;
  border-radius: 15px;
  transition: transform 0.2s;
}

.postStatusBtn:hover {
  transform: scale(1.075);
}

.cardStatus {
  border-radius: 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.statusText {
  font-size: 0.95rem;
}

/* --------------------- */
/* END OF STATUS SECTION */
/* --------------------- */



/* --------------- */
/* BUTTONS SECTION */
/* --------------- */
.button,
.button:active,
.button:focus {
/* ::-webkit-file-upload-button,
::-webkit-file-upload-button:active,
::-webkit-file-upload-button:focus { */
  background-color: #4da8da;
  border: #4da8da;
  border: hidden;
  border-radius: 15px;
  width: 65px;
  color: white;
}

/* ::-webkit-file-upload-button:hover, */
.button:hover {
  background-color: #5dc2f8;
  border: #5dc2f8;
  color: white;
}

/* ::-webkit-file-upload-button {
  content: "File"
} */

.buttonCancel,
.buttonCancel:active,
.buttonCancel:focus {
  background-color: red;
  color: white;
  border: hidden;
  border-radius: 15px;
  margin-top: 8px;
  width: 65px;
}

.buttonCancel:hover {
  background-color: rgb(253, 77, 77);
  border: rgb(253, 77, 77);
  color: white;
}


/* ---------------------- */
/* END OF BUTTONS SECTION */
/* ---------------------- */

.profilepic {
  width: 80%;
  height: auto;
  margin-top: 125px;
  border-radius: 50%;
  margin-bottom: 25px;
  
}

.cardImage {
  width: 100%;
  height: 175px;
  object-fit: cover;
  border-radius: 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: transform 0.2s;
}

.cardImage:hover {
  transform: scale(1.075);
}

/* 
---------------------- 
Images collage section
----------------------
*/

.firstDiv {
  height: 350px;
  border-radius: 15px 0 0 15px;
}

.secondDiv,
.thirdDiv,
.fourthDiv {
  height: 175px;
}

.fifthDiv {
  height: 200px;
  border-radius: 0 15px 0 0;
}

.sixthDiv {
  height: 150px;
  border-radius: 0 0 15px 0;
}

.firstDiv,
.secondDiv,
.thirdDiv,
.fourthDiv,
.fifthDiv,
.sixthDiv {
  width: 100%;
  object-fit: cover;
  transition: transform 0.2s;
}

.firstDiv:hover,
.secondDiv:hover,
.thirdDiv:hover,
.fourthDiv:hover,
.fifthDiv:hover,
.sixthDiv:hover {
  transform: scale(1.075);
}


.collageImageDIV {
  padding-top: 2.5px;
  padding-right: 2.5px;
  padding-bottom: 2.5px;
  padding-left: 2.5px;
}
.picturesWall {
  width: 100%;
  background-color: rgb(240, 240, 240);
  margin: auto;
  margin-top: 25px;
}

.cardTitle {
  font-size: 0.85em;
}

.fullScreenDiv {
  visibility: hidden;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0px;
  height: 100vh;
  z-index: 1000;
}

.enlargedImage {
  max-height: 600px;
  object-fit: contain;
}

.caption {
  background-color: black;
  color: white;
  font-weight: 400;
  width: 100%;
}

.divImage {
  border-radius: 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.divResponse {
  text-shadow: none;
}

.divResponse:hover {
  cursor: pointer;
}

.placesTraveled {
  visibility: hidden;
  color: white;
}

.footerDesktop {
  font-size: 0.8rem;
}

.footerMobileView,
.footer {
  text-decoration: none;
  font-size: 0.975rem;
  font-family: Arial, Helvetica, sans-serif;
}

/* 
--------------------------------------------------
THIS SECTION USES ANIMISTA - CREDITS
--------------------------------------------------
 * Generated by Animista on 2020-11-20 12:56:49
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

.fade-in {
  -webkit-animation: fade-in 250ms cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: fade-in 250ms cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

/**
 * ----------------------------------------
 * animation fade-in
 * ----------------------------------------
 */
@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.scale-in-center {
  -webkit-animation: scale-in-center 300ms cubic-bezier(0.25, 0.46, 0.45, 0.94)
    both;
  animation: scale-in-center 300ms cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

/**
 * ----------------------------------------
 * animation scale-in-center
 * ----------------------------------------
 */
@-webkit-keyframes scale-in-center {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes scale-in-center {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}

.slide-in-top {
  -webkit-animation: slide-in-top 800ms cubic-bezier(0.25, 0.46, 0.45, 0.94)
    200ms both;
  animation: slide-in-top 800ms cubic-bezier(0.25, 0.46, 0.45, 0.94) 200ms both;
}
/**
 * ----------------------------------------
 * animation slide-in-top
 * ----------------------------------------
 */
@-webkit-keyframes slide-in-top {
  0% {
    -webkit-transform: translateY(-1000px);
    transform: translateY(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes slide-in-top {
  0% {
    -webkit-transform: translateY(-1000px);
    transform: translateY(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

.slide-in-right {
  -webkit-animation: slide-in-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    both;
  animation: slide-in-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

/**
 * ----------------------------------------
 * animation slide-in-right
 * ----------------------------------------
 */
@-webkit-keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(1000px);
    transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(1000px);
    transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

.slide-in-bottom {
  -webkit-animation: slide-in-bottom 600ms cubic-bezier(0.25, 0.46, 0.45, 0.94)
    both;
  animation: slide-in-bottom 600ms cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

/**
 * ----------------------------------------
 * animation slide-in-bottom
 * ----------------------------------------
 */
@-webkit-keyframes slide-in-bottom {
  0% {
    -webkit-transform: translateY(1000px);
    transform: translateY(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes slide-in-bottom {
  0% {
    -webkit-transform: translateY(1000px);
    transform: translateY(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

.flip-in-ver-left {
  -webkit-animation: flip-in-ver-left 400ms cubic-bezier(0.25, 0.46, 0.45, 0.94)
    both;
  animation: flip-in-ver-left 400ms cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

/**
 * ----------------------------------------
 * animation flip-in-ver-left
 * ----------------------------------------
 */
@-webkit-keyframes flip-in-ver-left {
  0% {
    -webkit-transform: rotateY(80deg);
    transform: rotateY(80deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateY(0);
    transform: rotateY(0);
    opacity: 1;
  }
}
@keyframes flip-in-ver-left {
  0% {
    -webkit-transform: rotateY(80deg);
    transform: rotateY(80deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateY(0);
    transform: rotateY(0);
    opacity: 1;
  }
}

.slide-out-top {
  -webkit-animation: slide-out-top 400ms cubic-bezier(0.55, 0.085, 0.68, 0.53)
    both;
  animation: slide-out-top 400ms cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}

/**
 * ----------------------------------------
 * animation slide-out-top
 * ----------------------------------------
 */
@-webkit-keyframes slide-out-top {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(-1000px);
    transform: translateY(-1000px);
    opacity: 0;
  }
}
@keyframes slide-out-top {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(-1000px);
    transform: translateY(-1000px);
    opacity: 0;
  }
}

/* 
------------------------------------------
THIS SECTION USES ALL MOBILE MEDIA QUERIES 
------------------------------------------
*/

@media screen and (min-width: 0px) and (max-width: 993px) {
  .navbarDesktop,
  .footerDesktopView {
    display: none;
  }
  .topNavBarMobileView {
    visibility: visible;
  }
  .footerMobileView {
    display: inline-block;
  }
  .profilepic {
    width: 45%;
    height: auto;
    border-radius: 50%;
  }
  
  .placesTraveled {
    visibility: hidden;
    position: fixed;
    background-color: #12232e;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0px;
    height: 100vh;
    width: 100vw;
    overflow-y: scroll;
    z-index: 1000;
  }
  .statusText {
    font-size: 0.8rem;
  }
}

@media screen and (min-width: 994px) {
  .footer {
    display: none;
  }
  .navbar,
  .footerDesktopView {
    display: block;
  }

  .placesTraveled {
    margin-top: 10%;
  }

  .topNavBarMobileView {
    visibility: hidden;
  }
}
